/* brand work */
.brandHeadingDiv {
  margin-left: 7rem;
  margin-top: 2rem;
}
.brandWorkScribble {
  position: fixed;
  z-index: -1;
}
.brandWorkScribbleTriangle{
  top: 50vh;
  transform: scale(0.4) rotate(15deg);
  right: 1vw;
}
.brandWorkItem {
  border-radius: 5%;
  overflow: hidden;
}

.brandWorkItem:hover .brandWorkTransparentDiv {
  transform: translateX(0%);
  transition: all 0.4s linear;
  opacity: 1;
  cursor: pointer;
}
.brandWorkPlayButton:focus {
  box-shadow: none !important;
  outline: none !important;
}
.serviceSubmitButton {
    border: 2px solid #dd4d4b;
    background-color: white;
    color: #dd4d4b;
    font-size: 1.1rem;
    font-weight: 600;
    transition: all 0.5s linear;
  }
  .serviceSubmitButton:focus {
    outline: none !important;
    box-shadow: none;
  }
  .serviceSubmitButton:hover {
    background-color: #dd4d4b;
    color: white;
    border: 2px solid white;
  }
  .contactUsInput.form-control::placeholder {
    color: black;
  }
  .contactUsInput.form-control:focus {
    box-shadow: 0 0 0 0.1rem #dd4d4b;
  }

  /* gallery dropdown  */
  .dropdown-item {
    /* font-weight: 900; */
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent !important;
    color: #dd4d4b;
  }
  
  .dropdown-item:hover {
    background-color: #dd4d4b !important;
    color: white;
  }
  
  .dropdown-menu {
    background-color: white !important;
    border: 1px #dd4d4b solid;
    padding: 0;
  }
  
  .dropdown-item-brand {
    border-bottom: 1px #dd4d4b solid;
  }

/* media query */
@media screen and (max-width:480px) {
  .dropdown-menu{
    right:1rem;
  }
    /* brandwork */
    .brandHeadingDiv {
      margin-left: 1rem;
      margin-top: 2rem;
    }
    .brandHeadingDiv h1 {
      font-size: 2rem;
    }
}