@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Yeseva+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Yeseva One", sans-serif;
}
body {
  overflow-x: hidden;
  position: relative;
}
p {
  font-size: 1.2rem;
  font-family: "Josefin Sans", sans-serif;
}
h1 {
  font-size: 3rem;
  /* font-weight: 300; */
  /* font-family: "Yeseva One", sans-serif; */
}
h2,
h4,
h6 {
  font-family: "Josefin Sans", serif;
}
h3 {
  font-size: 1rem;
  font-family: "Josefin Sans", serif;
  font-weight: 300;
}
/* navigation bar css starts */
.navbarSection {
  /* height: 100vh; */
  position: relative;
  /* overflow-x: hidden; */
  padding: 0;
  /* background-color: #000; */
}
.navbarVideo {
  width: 100vw;
  position: relative;
  z-index: -1;
}

.navbarList {
  overflow: hidden;
  /* margin-top: 1.3rem; */
}
.navbarList ol,
ul {
  padding-left: 0rem !important;
  margin-bottom: 0rem !important ;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* padding: 3.5rem 3rem; //24aug */ 
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 9%;
  z-index: 2;
  /* done on 24aug */
  background-color: #26323854;
}
.navBarItem {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  overflow: hidden;
  color: white;
}
/* codepen */
.navbarList {
  font-family: "Yeseva One", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.navbarList * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.navbarList li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1em;
  overflow: hidden;
}
.navbarList a {
  padding: 0.3em 0;
  color: rgba(255, 255, 255);
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  font-weight: 100;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
}

.navbarList a:before,
.navbarList a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.navbarList a:before {
  bottom: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
  background-color: #e67e22;
  /* color: #dd4d4b; */
}
.navbarList a:after {
  padding: 0.3em 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  content: attr(data-hover);
  color: white;
  white-space: nowrap;
}
.navbarList li:hover a,
.navbarList .current a {
  transform: translateY(100%);
  color: white;
}

/* gallery dropdown */
.dropdown-menu {
  background-color: transparent !important;
  border: 1px white solid;
  padding: 0;
  min-width: 9rem;
}
.dropdown-item {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent !important;
  color: white;
}

/* #gallery-dropdown-button {
  pointer-events: none;
} */

.dropdown-item:hover {
  color: #dd4d4b;
  font-weight: bold;
  background-color: #fff !important;
}
.dropdown-item-brand {
  border-bottom: 1px white solid;
}
/* logo */
.logo {
  position: fixed;
}
.logoContainter {
  position: absolute;
  top: 4%;
  left: 1vh;
}
.homePageLogo{
  width: 15%;
}
.headerSectionText {
  text-align: center;
  opacity: 0;
  position: absolute;
  z-index: 3;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: 700;
}
.viewVideoIcon {
  font-size: 3em;
  text-shadow: 0px 0px 5px #fff;
  cursor: pointer;
}
.viewVideoHeading {
  /* font-family: "Yeseva One", sans-serif; */
  cursor: pointer;
  font-size: 2em;
  letter-spacing: 3px;
  margin-top: 2px;
  text-align: center;
  text-shadow: 0px 0px 5px #fff;
}
/* navigation bar ends */
/* Brand starts */
.home {
  color: #dd4d4b;
  font-weight: 700;
  /* opacity: 0.5; */
}
.portfolioSection {
  padding: 0rem 8rem 1rem;
  position: relative;
}
.downArrow {
  width: 2rem;
  margin-left: 1%;
  /* margin-top: -1%; */
}
.textAndArrow {
  margin-left: 2rem;
  margin-bottom: 1.5rem;
  display: flex;
}
/* portfolio section starts */
.portfolio {
  display: flex;
  flex-direction: column;
  padding: 2rem 8rem 0rem 8rem;
  position: relative;
}
.portfolioDiv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50vw;
}
.portfolioDiv a {
  font-family: "Josefin sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.15em;
  text-decoration: none;
}
.portfolioSection a {
  font-family: "Yeseva One", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.15em;
  text-decoration: none;
  position: relative;
}
.arrow {
  transition: margin-left 0.5s ease;
  letter-spacing: 0;
  /* font-family: inherit; */
  font-family: "Josefin sans", sans-serif;
}
.gradient {
  margin-top: 1.8rem;
  font-size: 1.2rem;
  color: #56d1c6;
  overflow: hidden;
}
.gradient:hover .arrow {
  margin-left: 0.5em;
}
.viewMoreDiv .gradientUnderline {
  background-color: #dd4d4b;
  opacity: 0.5;
  height: 2px;
  width: 100%;
  margin-right: 1.5rem;
  transform: translateX(-110%);
  transition: transform 0.4s ease-out;
}
.viewMoreDiv:hover .gradientUnderline {
  transform: translateX(-40%);
  transition: transform 0.4s ease-out;
}
.viewMoreDiv {
  width: fit-content;
  overflow: hidden;
}
.itemViewMoreDiv .gradientUnderline {
  background-color: white;
  opacity: 0.5;
  height: 2px;
  width: 100%;
  margin-right: 1.5rem;
  transform: translateX(-110%);
  transition: transform 0.4s ease-out;
}
.itemViewMoreDiv:hover .gradientUnderline {
  transform: translateX(-40%);
  transition: transform 0.4s ease-out;
}
.itemViewMoreDiv {
  width: fit-content;
  overflow: hidden;
}
.itemViewMoreDiv p {
  margin-bottom: 0%;
}
/* portfolio ends */
/* owl carousel CSS */
.owlButton {
  padding: 0.5rem;
  background-color: #3b4264;
  border: 2px solid #3b4264;
  border-radius: 50%;
  box-shadow: #dd4d4b 2px 2px 0 0;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.owl-nav {
  display: none;
}
.owlNextButton:hover i {
  transform: translateX(5px);
  transition: transform 0.1s linear;
}
.owlPrevButton:hover i {
  transform: translateX(-5px);
  transition: transform 0.1s linear;
}
.owlButton i {
  transition: transform 0.1s linear;
}
.owlButton:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}
.owlButton a {
  color: #fff;
}
.owlButtons {
  margin-top: 1.5rem;
}
.owl-carousel .owl-stage {
  padding: 2rem 0rem;
}
.owlPrevButton {
  margin-right: 1rem;
}
.owlNextButton a span {
  margin-left: 0.2rem;
}
.owlPrevButton a span {
  margin-right: 0.3rem;
}
.owlButtons {
  display: flex;
  justify-content: center;
}
.owl-prev span:focus,
.owl-next span:focus {
  outline: none;
}
.item-container {
  transition: 0.5s ease-in-out;
  display: flex;
  overflow: hidden;
  align-items: flex-end;
  border-radius: 25px;
  height: 63vh;
  border-radius: 20px;
}
.item-container:hover {
  transform: translateY(20px);
}
.item-container::before {
  content: "";
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  background-color: rgba(85, 85, 85, 0.192);
  z-index: 2;
  transition: 0.5s all;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 20px;
}
.item-container:hover::before {
  opacity: 1;
}
.item-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  border-radius: 25px;
  top: 0;
  left: 0;
}
.item-container .infoBackground {
  background: linear-gradient(0deg, rgb(82 71 71), rgba(255, 255, 255, 0));
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: 3;
  border-radius: 25px;
  opacity: 0;
  height: 100%;
}
.owl-item {
  opacity: 0.7;
}
.owl-item.active.center {
  transform: scale(1.07);
  opacity: 1;
}
.item-container .info {
  background-color: #000000d4;
  color: white;
  position: relative;
  z-index: 4;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 25px;
  opacity: 0;
  transition: 0.5s all;
  padding: 1rem 1.5rem;
  transform: translateY(-30px);
}
.item-container:hover .info,
.item-container:hover .infoBackground {
  transition: all 0.3s ease-out;
  opacity: 1;
  transform: translateY(0px);
  cursor: pointer;
}
.item-container:hover .infoBackground {
  top: 0%;
  transition: all 0.3s ease-out;
}
.info h2 {
  text-shadow: 0px 0px 5px #dd4d4b;
  font-size: 2.3rem;
  font-weight: bold;
  color: white;
  font-family: "Yeseva One", serif;
}
.info h3 {
  font-size: 1.3rem;
  font-weight: 900;
  font-family: "Josefin Sans", serif;
}
.info p {
  font-size: 1rem;
  font-family: "Josefin Sans", serif;
}
@media (min-width: 768px) {
  .owlButton {
    padding: 10px 15px;
  }
}
/* owl carousel and brand section ends */
/* original start */
.originals {
  padding-left: 8rem;
  display: flex;
}
.originalGridContainer {
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-template-rows: repeat(11, minmax(0, 10vw));
  grid-gap: 30px;
  top: 2rem;
  position: relative;
}
.originalGridItem {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: all ease 0.2s;
  background-color: #b30000;
}
.originalGridItem img {
  width: 100%;
  height: 100%;
}
.originalGridItem1 {
  background-color: #b30000;
  grid-column: 1/9;
  grid-row: 1/4;
}
.originalGridItem2 {
  background-color: #b30000;
  grid-column: 1/5;
  grid-row: 4/8;
}
.originalGridItem3 {
  grid-column: 5/9;
  grid-row: 4/6;
}
.originalGridItem4 {
  grid-column: 5/9;
  grid-row: 6/8;
}
.originalGridItem5 {
  grid-column: 1/9;
  grid-row: 8/11;
}
.originalGridItem6 {
  grid-column: 1/6;
  grid-row: 11/13;
}
.originalGridItem7 {
  grid-column: 6/9;
  grid-row: 11/13;
}
.originalTransparentDiv,
.brandWorkTransparentDiv {
  top: 0;
  z-index: 1008;
  transform: translateX(-110%);
  border-radius: 10px;
  background-color: #000000da;
  width: 100%;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: all 0.4s linear;
  /* opacity: 0; */
}
.originalGridItem:hover .originalTransparentDiv {
  transform: translateX(0%);
  transition: transform 0.5s linear;
  cursor: pointer;
}
.originalGridHeading {
  position: absolute;
  bottom: 30%;
  font-size: 1.2rem;
  justify-content: center;
  text-shadow: 0px 0px 5px #fff;
  text-align: center;
  align-items: center;
}
.originalHeadingScooter,
.originalHeadingTeachers,
.originalHeadingMummy,
.originalHeadingBhagat {
  letter-spacing: 2px;
}
.originalParahScooter,
.originalParahTeachers {
  bottom: 13%;
}
.originalParahMummy {
  bottom: 23%;
}
.originalParahBhagat {
  bottom: 17%;
}
/* original ends */
/* logo css */
.logoSlide {
  margin-right: 2rem;
}
.logoSlide img {
  width: 250px;
  /* height: 100px; */
  animation: scroll 60s linear infinite;
}
.slide-track {
  width: 100%;
  display: flex;
  gap: 3em;
  overflow: hidden;
}
.logoSlider {
  margin-top: 30px;
  position: relative;
  /* background-color: whitesmoke; */
  /* padding: 8em 2em; */
  /* padding: 2em 2em; */
  padding: 2em 8em;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translatex(-1000%);
  }
}
/* logo css ends */

/* customer review section */
.customerReviews {
  width: 100%;
  padding: 6rem 8rem 0rem 8rem;
}
/* customer slider */
.customerReviewHeading h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #0074af;
}
.customerReviewContainer {
  padding: 2rem;
  position: relative;
}
.customerSliderImageDiv {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  box-shadow: 0px 7px 20px 5px rgb(175 173 173 / 41%);
}

.customerSliderImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  /* height: 100%; */
  /* border-radius: 50%; */
}
.customerSliderContent {
  padding: 30px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carousel-item-next {
  transition: transform 0s ease-in-out;
}
.carousel-item-prev {
  transition: transform 0s ease-in-out;
}
.carousel-item-left {
  transform: translateX(-100%);
}
.carousel-item-right {
  transform: translateX(100%);
}
.customerSliderInfo {
  text-align: center;
  margin-top: 20px;
}
.customerSliderInfo h4 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 17px;
  line-height: 1;
}
.customerSliderInfo {
  font-size: 1.2rem;
}
.customerSliderReviewDiv {
  padding-left: 4rem;
  padding-right: 4rem;
  position: relative;
}
.customerSliderQuoteIcon {
  position: absolute;
  font-size: 7rem;
  line-height: 0 !important;
  color: #101e3549;
}
.customerSliderQuoteIcon::before {
  line-height: 0 !important;
}
.customerSliderQuoteIconStart {
  left: 60px;
  top: -35px;
}
.customerSliderQuoteIconEnd {
  transform: rotate(180deg);
  right: 0px;
  bottom: 35px;
}
.carousel-control-prev {
  left: -50px;
}
.carousel-control-next {
  right: -50px;
}
.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  /* color: #000; */
  color: #dd4d4b;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 0.5;
  font-size: 3rem;
  transition: opacity 0.15s ease;
  -webkit-text-stroke: 1px;
}
.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
  color: #dd4d4b;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}
.customerCircles {
  position: absolute;
}
.customerYellowCircleLeft {
  right: 33rem;
  top: -14rem;
  opacity: 0.6;
  transform: scale(0.3);
}
.customerYellowCircleRight {
  left: 33rem;
  top: -14rem;
  opacity: 0.6;
  transform: scale(0.3);
}
.customerBlueCircle {
  bottom: -5rem;
  left: 23rem;
  transform: scale(0.1);
}
.customerPinkCircle {
  bottom: -10rem;
  opacity: 0.9;
  right: 15rem;
  transform: scale(0.1);
}
.customerPurpleCircle {
  bottom: -2rem;
  right: 26rem;
  transform: scale(0.07);
}
.customerRedCircle {
  bottom: 3rem;
  left: 29rem;
  transform: scale(0.1);
}
.customerPinkCircleBottom {
  bottom: -29rem;
  opacity: 0.9;
  right: 30rem;
  transform: scale(0.12);
}
.customerYellowCircle {
  bottom: -34rem;
  opacity: 0.9;
  left: 31rem;
  transform: scale(0.12);
}
/* customer review section ends */
/* who we are */
.heart {
  width: 8%;
}
.whoWeAreSection {
  display: flex;
  position: relative;
  padding: 6rem 8rem 0rem 8rem;
}
.whoWeAreSection {
  margin-bottom: 6rem;
}
.whoWeAre {
  padding: 6rem 8rem 0rem 8rem;
  margin-top: 0.4rem;
}
/* who we are ends */
/* count sections */
.brandCountDiv,
.originalCountDiv {
  padding: 6rem 8rem 0rem 8rem;
}
.customersIcon {
  font-size: 2rem;
}
.projectsIcon {
  font-size: 2rem;
}
.awardsIcon {
  font-size: 2rem;
}
/* count section ends */
/* contact side section starts */
.contactContainer img {
  transform: scale(2);
}
.contactUsFloatingDiv {
  background-color: #dd4d4b;
  color: white;
  width: 70px;
  height: 70px;
  position: fixed;
  right: 40px;
  bottom: 40px;
  transition: all 0.3s linear;
  border-radius: 50px;
  font-size: 1.5rem;
  overflow: hidden;
}
.contactContainer {
  position: fixed;
  width: 70px;
  height: 70px;
  right: 40px;
  bottom: 40px;
  z-index: 2001;
}
.contactContainer img {
  position: absolute;
  left: 0;
  top: 20%;
  z-index: -1;
  width: 40%;
  opacity: 0;
  transition: all 0.3s linear;
}
.contactContainer:hover img {
  top: -45%;
  opacity: 1;
}
.contactUsFloatingDiv i {
  /* transform: translate(-50%, -50%); */
  position: absolute;
  top: 32.5%;
  left: calc(45px / 2);
  /* top: 50%;
  left: calc(70px / 2); */
}
.contactUsFloatingDiv h6 {
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 100%;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 0;
  font-size: 1.2rem;
  opacity: 0;
  white-space: nowrap;
  transition: all 0.3s linear;
}
.contactContainer:hover {
  cursor: pointer;
}
.contactContainer:hover .contactUsFloatingDiv {
  width: 180px;
  transition: all 0.3s linear;
}
.contactContainer:hover .contactUsFloatingDiv h6 {
  transition: all 0.3s linear;
  opacity: 1;
  left: calc(70px);
}
.floatingContactEmailIcon {
  animation: flip 2s infinite;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
@keyframes flip {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animation-paused {
  animation-play-state: paused;
}
/* contact container ends */
/* conactUs banner */
.contactUsBanner {
  background-color: #dd4d4b;
  color: white;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contactUsBanner h1 {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 0;
}

.contactUsBannerButton {
  background-color: white;
  color: #dd4d4b;
  padding: 0.5rem 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0;
  transition: all 0.1s linear;
}

.contactUsBannerButton:hover {
  letter-spacing: 0.1rem;
  transform: scale(1.05);
  transition: all 0.1s linear;
}

.contactUsBannerSection {
  padding: 4rem;
}

/* contact us banner ends */
/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 2px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
/* typewriter */
.typing-demo1,
.typing-demo2,
.typing-demo3,
.typing-demo4 {
  opacity: 0;
}
.typing-demo5 {
  opacity: 0;
  white-space: nowrap;
}
.typing-demo6 {
  opacity: 0;
  white-space: nowrap;
}
.typing-demo-animation {
  opacity: 1;
  animation: typing 1.7s, blink 0.5s step-end infinite alternate;
}
@keyframes typing {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
/* scribbles */
.scribble4 {
  position: absolute;
  z-index: -1;
  width: 7%;
  top: 87%;
  left: 22rem;
  opacity: 0.2;
}
.scribble8 {
  position: absolute;
  z-index: -1;
  width: 7%;
  top: 5%;
  opacity: 0.5;
  right: 4rem;
}
.scribble10 {
  position: absolute;
  z-index: -1;
  width: 7%;
  top: 10rem;
  left: 6rem;
  opacity: 0.5;
}
.scribble13 {
  position: absolute;
  z-index: -1;
  width: 7%;
  top: 5rem;
  left: 50rem;
  opacity: 0.7;
}
.scribble14 {
  position: absolute;
  z-index: -1;
  width: 7%;
  left: 6rem;
  transform: rotate(15deg);
  opacity: 0.5;
}
.scribble16 {
  transform: scale(0.5);
  position: absolute;
  opacity: 0.7;
  bottom: 0%;
  left: 30%;
}

/* footer */
.footerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #263238;
}
.footerImg {
  width: 10%;
  transform: translateY(-30%);
  padding-bottom: 2rem;
  transform: scale(1.5);
}
.footerBrandName {
  text-align: center;
}
.footerDiv {
  color: white;
  display: flex;
  width: 80%;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 1.5rem;
}
.footerList1 {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin-bottom: 0;
  gap: 20px;
}
.footerList1items,
.footerList2items {
  overflow: hidden;
  font-family: "Josefin Sans", sans-serif;
}
.footerUnderline {
  height: 2px;
  width: 100%;
  margin-right: 1.5rem;
  background-color: white;
  transform: translateX(-110%);
  transition: transform 0.4s ease-out;
}
.footerList2items:hover .footerUnderline {
  transition: transform 0.4s ease-out;
  transform: translateX(0%);
}
.footerList2 {
  gap: 20px;
  display: flex;
  list-style-type: none;
  justify-content: center;
  cursor: pointer;
}
.footerButtons {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 20px;
}
.footerListButtons {
  margin-top: 1rem;
}
.footerButtons a {
  color: white;
}
.footerCircles {
  border-radius: 50%;
  padding: 1rem;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.2s linear;
}
.footerCircles:hover {
  border: 1px solid white;
  transition: border-color 0.1s linear;
}
.footerButtonIcons {
  width: 35%;
}
.footerText {
  margin-top: 1.5rem;
}
.footerText1,
.footerText2 {
  display: flex;
  justify-content: center;
}
.footerText1 p,
.footerText2 p {
  color: #6c757d;
  font-size: 0.9rem;
  font-weight: 500;
  margin-right: 0.7rem;
  margin-bottom: 0;
  transition: color 0.1s linear;
}
.footerText1 p:hover {
  color: white;
  transition: color 0.1s linear;
}
/* .footerBrandName {
  font-family: "Yeseva One", cursive;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  word-spacing: 0.8rem;
} */
.owlButton a {
  font-size: 1rem;
}
/* iframe section */
.iframeSection {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.87);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}
.iframeCrossDiv {
  position: absolute;
  cursor: pointer;
  top: 50px;
  right: 200px;
  color: white;
}
.iframeCrossIcon {
  font-size: 3rem;
  text-shadow: 0px 0px 5px white;
}
.display-none {
  display: none;
}
.modal-header {
  justify-content: flex-end !important;
}
.modal {
  z-index: 2002 !important;
}
/* 
########################################## about us Page Starts ################################
*/
.about-us-content {
  /* font-size: larger; */
  font-family: "Josefin Sans", sans-serif;
}

.about-us-heading {
  font-size: 2rem;
  font-family: "Yeseva One", sans-serif;
  font-weight: 300;
  color: #263238;
  margin-bottom: 2rem;
}
.bold {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}
.email {
  font-size: medium;
  font-family: "Josefin Sans", sans-serif;
}
.text-muted {
  color: #6c757d !important;
}

/*#####################about us team section ###########################*/

.teamContainerDiv {
  margin-bottom: 3rem;
}
.teamMemberName {
  font-family: "Josefin Sans", sans-serif;
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
}
.circleContainer {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
}
.avatar {
  width: 100%;
  transition: all 0.3s linear;
}
.circleImageDiv {
  position: relative;
  border-radius: 50%;
  padding: 0;
  overflow: hidden;
  background-color: rgb(243, 243, 29);
  height: 12vw;
  width: 12vw;
}
.circleHiddenDiv {
  padding-top: 2px;
  position: absolute;
  z-index: 1008;
  width: 110%;
  height: 50%;
  top: 110%;
  left: -5%;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  color: #000;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.5s linear;
  transition: all 0.5s;
}

.circleHiddenSocialHandlesDiv {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

.circleHiddenSocialHandleIcon {
  font-size: 1.3rem;
  cursor: pointer;
}

.circleImageDiv:hover .circleHiddenDiv {
  top: 60%;
  opacity: 1;
}

.circleImageDiv:hover .avatar {
  transform: scale(1.05);
}
.designation {
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
  /* font-weight: bolder; */
  /* line-height: 1.1; */
}

.teamMemberDiv a {
  text-decoration: none;
  color: #000;
}
.careerSection {
  padding: 2rem 8rem 2rem 8rem;
}
.careerTitle {
  font-size: 3rem;
  color: #dd4d4b;
}
/* 
about us Page ends 
*/

/* common for about serives brandwork and original work */
.footerServiceSection {
  padding-top: 0rem;
}
.servicesNavbar {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #263238;
  overflow: hidden;
}
.servicesLogo {
  width: 22%;
}
.brandNameContainter {
  align-items: center;
}
.serviceBrandNameContainer {
  display: flex;
  justify-content: space-between;
}
.storiesText {
  color: #dd4d4b;
  font-size: 3.5rem;
  letter-spacing: normal;
}
/* contact us to be shared by services brandwork and original work */
/* services contact us */
.contact4 {
  font-family: "Yeseva One", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}
.contact4 h1,
.contact4 h2,
.contact4 h3,
.contact4 h4,
.contact4 h5,
.contact4 h6 {
  color: #3e4555;
}
.contact4 .font-weight-medium {
  font-weight: 500;
}
.contact4 .form-control {
  background: transparent;
  border: 2px solid rgb(114 87 87 / 50%);
}
.contact4 .form-control:focus {
  border-color: #ffffff;
}
.contact4 input::-webkit-input-placeholder,
.contact4 textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.contact4 input:-ms-input-placeholder,
.contact4 textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.contact4 input::placeholder,
.contact4 textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.contact4 .right-image {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
}
.contact4.bg-info {
  background-color: white !important;
}
.contactUsMapDiv {
  padding: 2rem;
  display: flex;
  align-items: flex-end;
}
.contactUsMapIframe {
  height: 94%;
}
@media (min-width: 1024px) {
  .contact4 .contact-box {
    padding: 2rem 8rem 3rem;
  }
}

@media (max-width: 767px) {
  .contact4 .contact-box {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 1023px) {
  .contact4 .right-image {
    position: relative;
    bottom: -95px;
  }
}

.contactMap {
  position: relative;
  clip-path: polygon(0% 30%, 100% 30%, 100% 100%, 0% 100%);
  top: -1em;
  border: inherit;
}

@media screen and (max-width: 1350px) {
  .customerCircles {
    display: none;
  }
}
@media screen and (max-width: 1150px) {
  .originalGridHeading {
    bottom: 25%;
  }
  .originalParahScooter,
  .originalParahTeachers,
  .originalParahMummy,
  .originalParahBhagat {
    bottom: 5%;
  }
}
/* doing it 850 from 768 */
@media screen and (max-width: 850px) {
  /* about us */
  .aboutUsContent {
    padding: 0rem 3rem 0rem 3rem;
  }
  /* about us team */
  .circleImageDiv {
    height: 150px;
    width: 150px;
  }
  .circleHiddenDiv {
    padding-top: 0px;
  }
  /* career section */
  .careerSection {
    padding: 3rem;
  }
  /* navbar section */
  video {
    /* width: auto;
    transform: translateX(-32%); */
  }
  .navbar {
    justify-content: space-between;
    padding: 1.5rem;
  }
  .logoContainter {
    position: static;
  }
  .logo {
    position: static;
  }

  .customerReviews,
  .whoWeAre,
  .brandCountDiv,
  .originalCountDiv,
  .whoWeAreSection,
  .portfolioSection {
    padding: 2rem 4rem 0rem 4rem;
  }

  .portfolio #portfolio-flters li {
    font-size: 10px;
  }
  h1 {
    font-size: 2rem;
  }
  .portfolioDiv {
    width: auto;
  }
  .typing-demo2-subHeading {
    font-size: 1.2rem;
  }
  .portfolioSection a,
  .portfolioDiv a {
    font-size: initial;
  }
  .item-container .info {
    padding: 2rem 3rem;
  }
  .originals {
    padding-left: 4rem;
  }
  .originalGridHeading {
    text-align: center;
    position: static;
    overflow-wrap: break-word;
    font-size: large;
  }
  .viewVideoIcon {
    font-size: 2rem;
  }
  .originalTransparentDiv {
    flex-direction: column-reverse;
  }
  .viewVideoHeading {
    display: none;
  }
  .customerTextAndArrow {
    padding-left: 0rem;
  }
  .logoSlider {
    padding: 2rem 2rem;
  }
  .navbarList {
    padding: 0;
  }
  .headerSectionText {
    font-size: 2rem;
    width: fit-content;
  }
  .textAndArrow {
    margin-left: 0rem;
  }
  /* common for all */
  .iframeSection {
    text-align: center;
    padding: 0 15px;
  }
  .iframeCrossDiv {
    /* left: 50%; */
    top: 25%;
    right: inherit;
  }
  .scribble {
    display: none;
  }
  /*  */
  .brandHeadingDiv {
    margin-left: 4rem;
    margin-top: 2rem;
  }
  .brandHeadingDiv h1 {
    font-size: 4rem;
  }
  /* services */
  .servicesNavbar {
    flex-direction: column;
    align-items: center;
  }
  .servicesBrandName {
    text-align: center;
  }
  .servicesLogo {
    text-align: center;
    width: 40%;
    margin-bottom: 10px;
  }
  .serviceBrandNameContainer {
    display: flex;
    flex-direction: column;
  }
  .navbarList li {
    font-size: 0.8rem;
  }
  .portfolio {
    padding: 2rem 4rem 0rem 4rem;
    margin-bottom: 2rem;
  }
  .servicesPageHeadingDiv {
    padding: 4rem 4rem 0rem 4rem;
  }
  .portfolio #portfolio-flters li {
    font-size: 10px;
  }
  .servicesPageHeading {
    font-size: 2rem;
  }
  .servicesPageText {
    font-size: 1.5rem;
  }
  .portfolio #portfolio-flters li {
    font-size: 17px;
  }
  .servicesContactContainerDiv {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .contactUsMapIframe {
    height: 203%;
  }

  .footerImg {
    padding-bottom: 2.5rem;
    transform: scale(2.5) translateY(10px);
  }
  /* contact us banner */
  .contactUsBanner {
    flex-direction: column;
    padding: 1rem;
  }
  .customerCircles {
    display: none;
  }
  .contactUsBanner h1 {
    font-size: 1.7rem;
    margin-bottom: 20px;
  }
}

.navbarOverlay {
  position: absolute;
  height: 99%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  top: 0;
  left: 0;
}

@media screen and (max-width: 480px) {
  /* navigation bar */

  .navbarOverlay {
    height: 97%;
  }
  .navbar {
    padding: 0rem;
    flex-direction: column;
    height: 21%;
  }
  .homePageLogo{
    width: 18%;
  }
  .logo {
    position: static;
    width: 35%;
  }
  .logoContainter {
    position: static;
    text-align: center;
  }
  .slide-track {
    gap: 1em;
  }
  .logo-slide img {
    width: 190px;
  }
  .navbarList li {
    font-size: 0.6rem;
    margin: 0 0.7em;
  }
  /* paddings of sections */
  .whoWeAreSection,
  .customerReviews,
  .whoWeAre,
  .brandCountDiv,
  .originalCountDiv {
    padding: 2rem 2rem 0rem 2rem;
  }
  .portfolioSection {
    padding: 0rem 2rem 0rem 2rem;
  }
  .whoWeAreSection {
    margin-bottom: 2rem;
  }
  .portfolio {
    padding: 2rem 2rem 0rem 2rem;
  }
  .scribble {
    display: none;
  }
  .typing-demo1,
  .typing-demo2,
  .typing-demo3,
  .typing-demo4,
  .typing-demo5,
  .typing-demo6 {
    opacity: 1;
  }
  .textAndArrow {
    margin-left: 0rem;
  }
  .customerTextAndArrow {
    padding-left: 0rem;
  }
  /* logos */
  .logoSlide {
    margin-right: 0.1rem;
  }
  .logoSlider {
    padding: 2rem 1rem;
  }
  /* original */
  .originalGridContainer {
    grid-gap: 15px;
  }
  .viewVideoHeading {
    display: block;
    font-size: 0.9rem;
    text-align: center;
  }
  .originalGridHeading {
    display: none;
  }
  .viewVideoIcon {
    font-size: 1.5rem;
  }
  .originalTransparentDiv {
    flex-direction: column-reverse;
  }
  .originals {
    padding-left: 2rem;
  }
  .viewMoreDiv {
    margin-left: 4px;
  }
  /* owl carousel */
  .owl-item {
    margin-right: 20px;
  }
  .owlNextButton:hover i {
    transform: translateX(0px);
  }
  .owlPrevButton:hover i {
    transform: translateX(0px);
  }
  .item-container {
    height: 43vh;
    border-radius: 0;
  }
  .item-container img,
  .item-container::before,
  .item-container .info {
    border-radius: 0;
  }
.owlButton{
  padding: 0.8rem;
}

  /* footer */
  .footerDiv {
    width: 90%;
  }
  .footerBrandName {
    font-size: 1.7rem;
    letter-spacing: 0.3rem;
  }
  .footerImg {
    padding-bottom: 2.3rem;
    transform: scale(3.5) translateY(13px);
  }
  .footerList1items,
  .footerList2items {
    font-size: 0.9rem;
  }
  .footerList2items {
    margin-right: 0;
  }
  .footerList2,
  .footerList1 {
    padding-left: 0rem;
    gap: 15px;
  }
  .footerText2 {
    flex-direction: column;
    align-items: center;
  }
  .breakToNone {
    display: static;
  }
  /* youtube iframe */
  .iframeCrossDiv {
    top: 90px;
    right: inherit;
  }
  .iframeCrossIcon {
    font-size: 2rem;
  }
  .iframeSection .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* services */
  /* .portfolio {
    padding: 6rem 2rem 0rem 2rem;
  } */
  .servicesPageHeadingDiv {
    padding: 4rem 2rem 0rem 2rem;
  }
  .navbarList li {
    font-size: 0.6rem;
  }
  .portfolio #portfolio-flters li {
    line-height: 1;
  }
  .storiesText {
    font-size: 2rem;
  }
  .servicesLogo {
    text-align: center;
    width: 40%;
    margin-bottom: 10px;
  }
  .contactUsMapIframe {
    padding: 1rem;
  }
  .servicesPageHeadingDiv {
    padding: 4rem 2rem 0rem 2rem;
  }
  .portfolio #portfolio-flters li {
    line-height: 1;
  }
  .contactMap {
    margin-top: -30%;
  }
  /* aboutUs page */
  .circleImageDiv {
    height: 120px;
    width: 120px;
  }
  /* team section */
  .circleHiddenDiv {
    padding-top: 0px;
  }
  .designation {
    font-size: 0.7rem;
    line-height: 0.7rem;
    margin-bottom: 0;
  }
  .circleHiddenSocialHandleIcon {
    font-size: 1rem;
  }
  .teamSection h1 {
    margin-left: 2rem;
    font-size: 2rem;
  }
  .teamMemberName {
    font-size: 0.9rem;
  }
  /* career section */
  .careerSection {
    padding: 0rem 3rem 1rem;
  }
  .careerTitle {
    font-size: 2rem;
  }
  /* customer review section */
  .customerCircles {
    display: none;
  }
  .customerReviewContainer {
    padding: 1.5rem 0 1.5rem 0;
  }
  .customerSliderContent {
    padding: 0px;
  }
  .customerSliderReviewDiv {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }
  .carousel-control-prev,
  .carousel-control-next {
    padding: 0px;
    top: 30px;
    font-size: 2rem;
  }
  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    opacity: 0.5;
  }
  .carousel-control-prev {
    left: -25px;
  }
  .carousel-control-next {
    right: -25px;
  }
  .customerReviewHeading {
    font-size: 1.3rem;
    font-weight: 600;
  }
  .customerSliderQuoteIcon {
    font-size: 4rem;
  }
  .customerSliderQuoteIconStart {
    left: 0px;
    top: -15px;
  }
  .customerSliderQuoteIconStart {
    bottom: 20px;
  }
  .customerSliderReview {
    font-size: 1rem;
  }
  /* contact us container */
  .contactUsFloatingDiv {
    right: 15px;
  }
  .contactContainer img {
    left: 1.4rem;
  }
  .contactModalEmail{
    display: block !important;
    margin-top: 1%;
  }
  /* contact us banner */
  .contactUsBanner {
    flex-direction: column;
  }

  .contactUsBanner h1 {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .contactUsBannerButton {
    padding: 5px;
    font-size: 0.9rem;
  }

  .contactUsBannerSection {
    padding: 2rem;
  }
}
/* @media screen and (max-width:320px) {
  .navbarList li{
    font-size: 0.3rem;
  }
}
@media screen and (max-width:300px) {
  .navbarList li{
    font-size: 0.45rem;
  }
} */
