@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.about-us-content{
    font-size:larger;
    font-family: 'Poppins';
    
}

.about-us-heading{
    font-size:4rem;
    font-family: 'Poppins';
    /* font-weight:bold; */
    font-weight: 300;
    color: #263238;
    margin-bottom:2rem;
}
.bold{
    font-weight:bold;
    font-size: larger;
}
.email{
    font-size:medium;
    font-family: 'Poppins';
}
.text-muted{
    color: #6c757d!important;
}
