@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

.slides {
  /* width: 100%; */
  display: flex;
  /* border-radius: 10px; */
  overflow: hidden;

  background-color: #263238;
}
.slide {
  list-style-type: none;
  background-size: cover;
  /* height: 90vh; */
  width: 10vw;
  overflow: hidden;
  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  -ms-transition: all 500ms linear;
  transition: all 500ms linear;
}
.servicesContainer {
  padding-left: 0%;
  /* margin-left: 3.7rem; */
  /* position: relative; */
}
.slides ol,
ul {
  padding-left: 0%;
  margin-bottom: 0%;
}
/* brands colors */
.brand1 {
  /* background-color: #000; */
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.52),
      rgba(117, 19, 93, 0.73)
    ),
    url(./images/originals/original1.png);
  border: 1px solid #9d3245;
  border-top: none;
  border-bottom: none;
}
.brand2 {
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.52),
      rgba(117, 19, 93, 0.73)
    ),
    url(./images/originals/original2.png);
  border: 1px solid #9d3245;
  border-top: none;
  border-bottom: none;

  /* border: 5px solid #9d3245; */
}
.brand3 {
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.52),
      rgba(117, 19, 93, 0.73)
    ),
    url(./images/originals/original8.png);
  border: 1px solid #9d3245;
  border-top: none;
  border-bottom: none;

  /* border: 5px solid #9d3245; */
}
.brand4 {
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.52),
      rgba(117, 19, 93, 0.73)
    ),
    url(./images/originals/original6\ .png);
  border: 1px solid #9d3245;
  border-top: none;
  border-bottom: none;

  /* border: 5px solid #9d3245; */
}
.brand5 {
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.52),
      rgba(117, 19, 93, 0.73)
    ),
    url(./images/originals/original7.png);
  border: 1px solid #9d3245;
  border-top: none;
  border-bottom: none;

  /* border: 5px solid #9d3245; */
}
.servicesHeading a {
  width: 20px;
  /* background-color: aqua; */
}
.slide a.action {
  display: block;
  height: 100%;
  position: relative;
  color: white;
  font-size: 1rem;
  text-shadow: 0px 0px 5px #000;
  cursor: pointer;
  /* font-family: "Roboto Condensed", serif; */
}
.slide a.action span {
  font-weight: 700;
  font-size: 2.7rem;
  font-family: "Roboto Condensed", serif;
  /* color: #000; */
  transform: rotate(270deg) translate(-50%, 20%);
  transform-origin: top left;
  position: absolute;
  top: 36%;
  display: block;
  width: 100vh;
  bottom: 16rem;
}
.slide-content {
  display: block;
  /* width: 720px; */
  /* width: 100%; */
  /* padding: 40px; */
}
.slide-content {
  /* color: #000; */
  position: relative;
}
.slide-content img {
  width: 68vw;
  position: relative;
  height: 87vh;
}
.active {
  width: 80%;
}
.active a.action {
  display: none;
}
/* Accordian ends */
.scribble16{
  transform: scale(0.5);
  position: absolute;
  opacity: 0.7;
  bottom: 0%;
  left: 30%;
}
/* media queries*/
@media only screen and (max-width: 600px) {
  .slides {
    transform: rotate(90deg);
  }
  .slide-content {
    transform: rotate(270deg);
    padding: 0rem 0rem 0rem 0.3rem;
  }
  .slide a.action span {
    height: 20%;
  }
  .scribble16{
    left: 60%
  }
}
.footerServiceSection {
  padding-top: 4.8rem;
}

.servicesTransparentDiv {
  position: absolute;
  margin-top: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
.servicesNavbar {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #263238;
}
.servicesLogo {
  width: 10%;
  margin-right: 1rem;
}
.servicesBrandName {
  font-family: "Just Another Hand", cursive;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  color: white;
  line-height: inherit;
  margin-bottom: 0%;
  /* word-spacing: 0.8rem; */
}
.brandNameContainter {
  /* position: absolute; */
  /* display: flex; */
  margin-bottom: 2vmin;
  /* top: 2%; */
  align-items: center;
  /* justify-content: flex-start; */
  /* left: 2vh; */
}

.portfolio {
  /* background-color:crimson; */
  display: flex;
  flex-direction: column;
  padding: 2rem 8rem 0rem 8rem;
  position: relative;
}

.servicesPageHeading {
  letter-spacing: 5px;
  white-space: nowrap;
  width: fit-content;
  overflow: hidden;
  /* border-right: 0px solid; */
  /* font-family: monospace; */
  /* font-size: 2em; */
}

.servicesPageText {
  font-size: 1.2rem;
}

.servicesPageHeadingDiv {
  padding: 4rem 8rem 0rem 8rem;
  position: relative;
}

p {
  font-size: 1.2rem;
}
.storiesText {
  color: #fa4753;
  font-size: 5rem;
  letter-spacing: normal;
}

.servicesHeading {
  position: absolute;
  z-index: 2;
  color: white;
  top: 13rem;
  letter-spacing: 2.5px;
  left: 1.5rem;
  font-weight: 700;
  font-family: "Roboto Condensed", serif;
  font-size: 5rem;
  /* text-shadow: 0px 0px 5px #000; */
}

.servicesParagraph {
  position: absolute;
  z-index: 2;
  top: 19rem;
  left: 1.5rem;
  color: white;
  font-weight: 500;
  font-family: sans-serif;
}

/* Portfolioooooooooooooooooooo */

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
}
.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 18px 10px 18px;
  font-size: 14px;
  font-weight: 600;
  color: #444444;
  text-transform: uppercase;
  margin: 0 3px 10px 3px;
  transition: all ease-in-out 0.3s;
  border-radius: 50px;
}
.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #fff;
  background: #0880e8;
}
.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}
.portfolio .portfolio-item {
  margin-bottom: 30px;
  overflow: hidden;
}
.portfolio .portfolio-item img {
  position: relative;
  top: 0;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: -50px;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: #0880e8;
  padding: 15px 20px;
}
.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}
.portfolio .portfolio-item .portfolio-info p {
  color: #fff;
  font-size: 14px;
  margin-bottom: 0;
}
.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 20px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: white;
  transition: ease-in-out 0.3s;
}
.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #8ec8fb;
}
.portfolio .portfolio-item .portfolio-info .details-link {
  right: 15px;
}
.portfolio .portfolio-item:hover img {
  top: -30px;
}
.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  bottom: 0;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}
.portfolio-details .portfolio-details-slider img {
  width: 100%;
}
.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #0880e8;
}
.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet-active {
  background-color: #0880e8;
}
.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(246, 176, 36, 0.08);
}
.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}
.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}
.portfolio-details .portfolio-description {
  padding-top: 30px;
}
.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.portfolio-details .portfolio-description p {
  padding: 0;
}

.footerServiceSection {
  padding-top: 0rem;
}

.portfolio-container{
  margin-bottom: 3rem;
}

.serviceBrandNameContainer{
  display: flex;
}
/* 750 krna h */
@media screen and (max-width: 768px) {
  .servicesNavbar{
    flex-direction: column;
    align-items: center;
  }
  .servicesBrandName{
    text-align: center;
  }
  .servicesLogo{
    text-align: center;
  }
  .serviceBrandNameContainer{
    display: flex;
    flex-direction: column;
  }
  .snip1226 li{
    font-size: 0.8rem;
  }
  .portfolio {
    padding: 2rem 4rem 0rem 4rem;
    margin-bottom: 2rem;
  }
  .servicesPageHeadingDiv {
    padding: 4rem 4rem 0rem 4rem;
}
.portfolio #portfolio-flters li{
  font-size: 10px;
}
.servicesPageHeading{
  font-size: 2rem;
}
.servicesPageText {
  font-size: 1.5rem;
}
.portfolio #portfolio-flters li {
  font-size: 17px;
}
}

@media screen and (max-width: 480px) {
  .portfolio {
    padding: 2rem 2rem 0rem 2rem;
  }
  .servicesPageHeadingDiv {
    padding: 4rem 2rem 0rem 2rem;
}
.snip1226 li{
  font-size: 0.6rem;
}
.portfolio #portfolio-flters li{
  line-height: 1;
}
.scribble16{
  left: 70%;
}
}
